/* réinitialisations de base, ne pas toucher */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

/* liens vers la typo */
@font-face {
    font-family: 'cambaybold';
    src: url('fonts/cambay-bold-webfont.woff2') format('woff2'),
         url('fonts/cambay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cambaybold_italic';
    src: url('fonts/cambay-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/cambay-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cambayitalic';
    src: url('fonts/cambay-italic-webfont.woff2') format('woff2'),
         url('fonts/cambay-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cambayregular';
    src: url('fonts/cambay-regular-webfont.woff2') format('woff2'),
         url('fonts/cambay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'signika';
    src: url('fonts/signika-bold-webfont.woff2') format('woff2'),
         url('fonts/signika-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'khulabold';
    src: url('fonts/khula-bold-webfont.woff2') format('woff2'),
         url('fonts/khula-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'khulaextrabold';
    src: url('fonts/khula-extrabold-webfont.woff2') format('woff2'),
         url('fonts/khula-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'khulalight';
    src: url('fonts/khula-light-webfont.woff2') format('woff2'),
         url('fonts/khula-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'khularegular';
    src: url('fonts/khula-regular-webfont.woff2') format('woff2'),
         url('fonts/khula-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'khulasemibold';
    src: url('fonts/khula-semibold-webfont.woff2') format('woff2'),
         url('fonts/khula-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tauriregular';
    src: url('fonts/tauri-regular-webfont.woff2') format('woff2'),
         url('fonts/tauri-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenobold';
    src: url('fonts/truenobd-webfont.woff2') format('woff2'),
         url('fonts/truenobd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenobold_italic';
    src: url('fonts/truenobdit-webfont.woff2') format('woff2'),
         url('fonts/truenobdit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenobold_outline';
    src: url('fonts/truenobdol-webfont.woff2') format('woff2'),
         url('fonts/truenobdol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenobold_outline_italic';
    src: url('fonts/truenobdolit-webfont.woff2') format('woff2'),
         url('fonts/truenobdolit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenoblack';
    src: url('fonts/truenoblk-webfont.woff2') format('woff2'),
         url('fonts/truenoblk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenoblack_italic';
    src: url('fonts/truenoblkit-webfont.woff2') format('woff2'),
         url('fonts/truenoblkit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenoblack_outline';
    src: url('fonts/truenoblkol-webfont.woff2') format('woff2'),
         url('fonts/truenoblkol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenoblack_outline_italic';
    src: url('fonts/truenoblkolit-webfont.woff2') format('woff2'),
         url('fonts/truenoblkolit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenoextrabold';
    src: url('fonts/truenoexbd-webfont.woff2') format('woff2'),
         url('fonts/truenoexbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenoextrabold_italic';
    src: url('fonts/truenoexbdit-webfont.woff2') format('woff2'),
         url('fonts/truenoexbdit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenoextrabold_outline';
    src: url('fonts/truenoexbdol-webfont.woff2') format('woff2'),
         url('fonts/truenoexbdol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenoXBdoutlineIt';
    src: url('fonts/truenoexbdolit-webfont.woff2') format('woff2'),
         url('fonts/truenoexbdolit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenolight';
    src: url('fonts/truenolt-webfont.woff2') format('woff2'),
         url('fonts/truenolt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenolight_italic';
    src: url('fonts/truenoltit-webfont.woff2') format('woff2'),
         url('fonts/truenoltit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenoregular';
    src: url('fonts/truenorg-webfont.woff2') format('woff2'),
         url('fonts/truenorg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'truenoregular_italic';
    src: url('fonts/truenorgit-webfont.woff2') format('woff2'),
         url('fonts/truenorgit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'truenosemibold';
    src: url('fonts/truenosbd-webfont.woff2') format('woff2'),
         url('fonts/truenosbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenosemibold_italic';
    src: url('fonts/truenosbdit-webfont.woff2') format('woff2'),
         url('fonts/truenosbdit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenoultralight';
    src: url('fonts/truenoultlt-webfont.woff2') format('woff2'),
         url('fonts/truenoultlt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenoultralight_italic';
    src: url('fonts/truenoultltit-webfont.woff2') format('woff2'),
         url('fonts/truenoultltit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansbold';
    src: url('fonts/pt_sans-web-bold-webfont.woff2') format('woff2'),
         url('fonts/pt_sans-web-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('fonts/pt_sans-web-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/pt_sans-web-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansitalic';
    src: url('fonts/pt_sans-web-italic-webfont.woff2') format('woff2'),
         url('fonts/pt_sans-web-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansregular';
    src: url('fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
         url('fonts/pt_sans-web-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sans_captionbold';
    src: url('fonts/pt_sans-caption-web-bold-webfont.woff2') format('woff2'),
         url('fonts/pt_sans-caption-web-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sans_captionregular';
    src: url('fonts/pt_sans-caption-web-regular-webfont.woff2') format('woff2'),
         url('fonts/pt_sans-caption-web-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hindbold';
    src: url('fonts/hind-bold-webfont.woff2') format('woff2'),
         url('fonts/hind-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hindlight';
    src: url('fonts/hind-light-webfont.woff2') format('woff2'),
         url('fonts/hind-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hindmedium';
    src: url('fonts/hind-medium-webfont.woff2') format('woff2'),
         url('fonts/hind-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hindregular';
    src: url('fonts/hind-regular-webfont.woff2') format('woff2'),
         url('fonts/hind-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hindsemibold';
    src: url('fonts/hind-semibold-webfont.woff2') format('woff2'),
         url('fonts/hind-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'hindsemibold'; /* pt_sans_captionregular truenoregular khularegular tauriregular */
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    font-size: 20px;
    color: darkblue;
}
.alt-font {
    cursor: pointer;
}
.font-alt {
    font-family: 'junction';
    letter-spacing: 1px;
}
a, a:visited, a:focus {
    text-decoration: none;
    color: darkblue;
}
h2 {
    font-size: 60px;
    line-height: 70px;
    font-weight: normal;
    text-transform: uppercase;
}
.menu {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #FFFF96;
    padding: 10px 10px 0px 10px;
    width: 100%;
    height: 25px;
}
.menu li {
    display: inline-block;
    margin-right: 30px;
}
.main-content {
    font-size: 65px;
    line-height:74px;
}
.main-content-alt {
    font-size: 63px;
    line-height:73px;
    font-weight: bold;
    margin-bottom: 80px;
}
.main-content a {
    text-decoration: none;
    color: darkblue;
}
.category {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.text {
    font-family: "cambayregular";
    font-size: 20px;
    line-height: 23px;
}
.grid {
    margin-top: 35px;
}
.grid-item {
    height: 70vh;
    float: left;
    overflow: hidden;
    padding: 20px;
    padding-top: 50px;
    position: relative;
}
.one-third {
    width: 33%;
}
.two-third {
    width: 67%;
}
.whole {
    width: 100%;
}
.red {
    background: linear-gradient(90deg, white 0%, #1fc8db 100%);
    /* background-color: #ffb1b1; */
}
.blue {
    background: linear-gradient(180deg, #ffff96 0%, #1fc8db 100%);
    /* background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
}
.yellow {
    background: linear-gradient(180deg, #ffff96 0%, #1fc8db 100%);
    /* background-color: #ffff96; */
}
.lightyellow {
    background-color: #FFFF96;
}
.triangle {
    width: 0;
    height: 0;
    display: inline-block;
    border-left: 0px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #ffb1b1;
    margin: -20px -20px;
}
.circle {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: inline-block;
    margin-right: 10px;
}
.square {
    width: 105px;
    height: 105px;
    display: inline-block;
    margin-right: 10px;
}
.triangle-shape {
    width: 0;
    height: 0;
    display: inline-block;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 100px solid darkblue;
}
.big {
    width: 250px;
    height: 250px;
}
/* ANIMATIONS */
.move1 {
    animation: move-me 10s;
}
.move2 {
    animation: move-me 20s;
}
.move3 {
    animation: move-me 30s;
}
@-webkit-keyframes move-me {
    0%       { transform: translatex(300px)}
    100%     { transform: translatex(0px) }
}
@keyframes move-me {
    0%       { transform: translatex(300px)}
    100%     { transform: translatex(0px) }
}
.font-pulse {
    -webkit-animation: fontpulse 5s infinite alternate;
    -moz-animation: fontpulse 5s infinite alternate;
    animation: fontpulse 5s infinite alternate;
}
@-webkit-keyframes fontpulse {
    0% {
    color: darkblue;
    }
    100% {
    color: black;
    }
}
@keyframes fontpulse {
    0% {
    color: darkblue;
    }
    100% {
    color: black;
    }
}
.breathe {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-animation: breathe 3s infinite linear alternate-reverse;
    -moz-animation: breathe 3s infinite linear alternate-reverse;
    animation: breathe 3s infinite linear alternate-reverse;
}
@-webkit-keyframes breathe {
  to {-webkit-transform: scale(1.2);}
}
@-moz-keyframes breathe {
  to {-moz-transform: scale(1.2);}
}
@keyframes breathe {
  to {transform: scale(1.2);}
}
.spin {
    animation: spin 30s;
}
@-webkit-keyframes spin {
    0%       { transform: rotate(0deg)}
    100%     { transform: rotate(360deg) }
}
@keyframes move {
    0%       { transform: rotate(0deg)}
    100%     { transform: rotate(360deg) }
}

svg {
  width: 80%;
  height: 80%;
  margin: 10%;
}

.content-left {
    width: 50%;
    margin: 80px 20px 20px 20px;
}
.title {
    font-size: 90px;
    line-height: 85px;
}
.content-right-bottom {
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 50%;
    margin: 80px 20px 20px 20px;
}

/* STATEMENT-SIGNATURES */
#statement {
    width: 66%;
    display: inline-block;
    vertical-align: top;
    padding: 80px 50px 20px 20px;
    margin-left: 33%;
}
#statement p {
    font-family: "cambayregular";
    line-height: 30px;
}
#signatures {
    position: absolute;
    width: 33%;
    padding: 20px;
    padding-top: 80px;
    top: 40px;
}
li {
  list-style: none;
}

/* CONTACT */
.triangle-bkg-contact {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    border-right: 150vh solid transparent;
    border-top: 100vh solid #ffff96;
    z-index: -1;
}

/* RESPONSIVE */

/* ÉCRAN SEULEMENT */
@media screen {
    .print-only {
        display: none;
    }
}

/* ÉCRAN (VALEURS MAXIMUM) */
@media screen and (max-width: 800px) {
    .grid-item {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

}

/* IMPRESSION */

@media print {
    .screen-only {
        display: none;
    }
}

@page {
    size: 210mm 297mm;
    margin: none;
}
