/* réinitialisations de base, ne pas toucher */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

/* liens vers la typo */
@font-face {
    font-family: 'hindbold';
    src: url('fonts/hind-bold-webfont.woff2') format('woff2'),
         url('fonts/hind-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hindlight';
    src: url('fonts/hind-light-webfont.woff2') format('woff2'),
         url('fonts/hind-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hindmedium';
    src: url('fonts/hind-medium-webfont.woff2') format('woff2'),
         url('fonts/hind-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hindregular';
    src: url('fonts/hind-regular-webfont.woff2') format('woff2'),
         url('fonts/hind-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hindsemibold';
    src: url('fonts/hind-semibold-webfont.woff2') format('woff2'),
         url('fonts/hind-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* COLORS */
:root {
    /*--saumon:#ffbc8c;*/
    --saumon:#ffcd8c;
    --pierre-bleue:#008080;

}


/* GENERAL STYLES */
body {
    font-family: 'hindsemibold';
    color: darkblue;
}
a, a:visited, a:focus {
  text-decoration: underline;
  color: darkblue;
}
a:hover {
    color: var(--saumon) !important;
    border-bottom: 2px solid var(--saumon);
    text-decoration: none;

}
.link-on {
    color: var(--saumon) !important;
    text-decoration: none;

}
li {
    list-style: none;
}
h2 {
    font-size: 65px;
    line-height:74px;
    font-weight: normal;
    font-family: "hindsemibold";
    margin-bottom: 4px;
    letter-spacing: 1px;
}
h3 {
    font-size: 19px;
    line-height: 21px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "hindbold";
    margin-bottom: 6px;
    letter-spacing: 1px;
    padding-top: 43px;
}
h4 {
  font-family: "hindsemibold";
  font-size: 20px;
  line-height: 24px;
}
p {
    font-family: "hindmedium";
    font-size: 19px;
    line-height: 22px;
    /*margin-bottom: 20px;*/
    margin-top: 16px;
}
p + p {
    /* text-indent: 46px; */
    /* margin-top: 9px; */
}

/* MENU */
.menu {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #FFFF96;
    padding: 10px 10px 0px 10px;
    width: 100%;
    height: 25px;
}
.menu li {
    display: inline-block;
    margin-right: 30px;
}
.menu a, .menu a:hover, .menu a:visited {
    text-decoration: none;
    border-bottom: 0px solid;
}

/* GRID */
.grid {
    margin-top: 35px;
}
.grid-item {
    height: 70vh;
    float: left;
    overflow: hidden;
    padding: 20px;
    position: relative;
}
.grid-item li a, .grid-item li a:hover {
    text-decoration: none;
    border-bottom: 0;
}
.half-grid-container, .whole-grid-container, .one-third-grid-container {
    padding: 0px;
    height: inherit;
}
.title {
    padding-left: 40px;
    padding-right: 80px;
}
.title ul {
    margin-top: 20px;
}
.title li {
    font-size: 19px;
    line-height: 22px;
    font-family: "hindmedium";
}
.title li::before {
    content: "⤷";
    /*content: "⏺";*/
    padding: 3pt;
    padding-right: 5pt;
    padding-left: 3pt;
    vertical-align: bottom;
}

/* SIZES */
.one-third {
    width: 33%;
}
.grid-small-container {
    margin-top: 40vh;
}
.two-third {
    width: 67%;
}
.half {
    width: 50%;
}
.whole {
    width: 100%;
}

/* COLORS */
.white-to-blue-90 {
    background: linear-gradient(90deg, white 0%, #1fc8db 100%);
}
.white-to-blue-50 {
    background: linear-gradient(50deg, white 0%, #1fc8db 100%);
}
.white-to-blue-200 {
    background: linear-gradient(200deg, white 0%, white 20%, #1fc8db 100%);
}
.yellow-to-blue {
    background: linear-gradient(180deg, #ffff96 0%, #1fc8db 100%);
}
.white-to-grey-120 {
    background: linear-gradient(120deg, lightgrey 50%, white 100%);
}
.white-to-grey-60 {
    background: linear-gradient(60deg, lightgrey 50%, white 100%);
}
.white-to-grey-200 {
    background: linear-gradient(200deg, lightgrey 50%, white 100%);
}
.white-to-grey-30 {
    background: linear-gradient(30deg, lightgrey 50%, white 100%);
}
.blue-dark-to-light-120 {
  background: linear-gradient(120deg, darkblue 60%, #0cf2f2 100%);
}
.blue-dark-to-light-70 {
  background: linear-gradient(70deg, darkblue 60%, #0cf2f2 100%);
}
.blue-dark-to-light-220 {
  background: linear-gradient(220deg, darkblue 60%, #0cf2f2 100%);
}
.blue-dark-to-light-40 {
  background: linear-gradient(40deg, darkblue 60%, #0cf2f2 100%);
}
.blue-dark-to-light-150 {
  background: linear-gradient(150deg, darkblue 60%, #0cf2f2 100%);
}
.yellow {
    background: linear-gradient(180deg, #ffff96 0%, #1fc8db 100%);
    /* background-color: #ffff96; */
}
.lightyellow {
    background-color: #FFFF96;
}

/* SHAPES */
.circle {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: inline-block;
    margin-right: 10px;
}
.square {
    width: 105px;
    height: 105px;
    display: inline-block;
    margin-right: 10px;
}
.big {
    width: 250px;
    height: 250px;
}

.triangle-bottomleft {
  width: 105px;
  height: 105px;
  display: inline-block;
  border-bottom: 105px solid var(--saumon);
  border-right: 105px solid transparent;
  background: transparent;
}
/* .triangle-shape {
    width: 0;
    height: 0;
    display: inline-block;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 100px solid darkblue;
} */
/* .triangle {
    width: 0;
    height: 0;
    display: inline-block;
    border-left: 0px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #ffb1b1;
    margin: -20px -20px;
} */
.sand {
    width: 100%;
}
.shapes-absolute {
    position: absolute;
}

/* ANIMATIONS */
.move1 {
    animation: move-me 10s;
}
.move2 {
    animation: move-me 20s;
}
.move3 {
    animation: move-me 30s;
}
@-webkit-keyframes move-me {
    0%       { transform: translatex(300px)}
    100%     { transform: translatex(0px) }
}
@keyframes move-me {
    0%       { transform: translatex(300px)}
    100%     { transform: translatex(0px) }
}
.font-pulse {
    -webkit-animation: fontpulse 5s infinite alternate;
    -moz-animation: fontpulse 5s infinite alternate;
    animation: fontpulse 5s infinite alternate;
}
@-webkit-keyframes fontpulse {
    0% {
        color: darkblue;
    }
    100% {
        color: black;
    }
}
@keyframes fontpulse {
    0% {
        color: darkblue;
    }
    100% {
        color: black;
    }
}
.breathe {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-animation: breathe 3s infinite linear alternate-reverse;
    -moz-animation: breathe 3s infinite linear alternate-reverse;
    animation: breathe 3s infinite linear alternate-reverse;
    position: absolute;
    top: 110px;
    right: 80px;
    background: linear-gradient(120deg, lightgrey 50%, white 100%)
}
@-webkit-keyframes breathe {
    to {-webkit-transform: scale(1.2);}
}
@-moz-keyframes breathe {
    to {-moz-transform: scale(1.2);}
}
@keyframes breathe {
    to {transform: scale(1.2);}
}
.spin {
    animation: spin 30s;
}
@-webkit-keyframes spin {
    0%       { transform: rotate(0deg)}
    100%     { transform: rotate(360deg) }
}
@keyframes move {
    0%       { transform: rotate(0deg)}
    100%     { transform: rotate(360deg) }
}
/* SVG SHAPE ON MAIN PAGE */
svg {
  width: 80%;
  height: 80%;
  margin: 10%;
}
/* POSITION SHAPES IN THE BOXES */
.content-left {
    width: 50%;
    margin: 80px 20px 20px 20px;
}
.content-right-bottom {
    position: absolute;
    right: 0px;
    bottom: 20px;
    width: 50%;
    padding: 80px 20px 20px 20px;
}



/* SPECIFIC STYLES > PAGES */


/* MAIN PAGE */
.main-content {
    font-family: "hindsemibold";
    font-size: 65px;
    line-height: 70px;
    margin: 20px 0px 0px 20px;
}
.main-content a {
    text-decoration: none;
    color: darkblue;
    border-bottom: 0px;
}
.font-pulse {
    text-transform: uppercase;
    font-size: 50px;
    font-family: "hindbold";
    letter-spacing: 1px;
}

/* PAGE SIGN STATEMENT */
#statement {
    padding: 40px 50px 20px 20px;
}
#statement p {
    font-family: "hindmedium";
    line-height: 24px;
}
#signatures {
    padding: 20px;
    padding-top: 40px;
    top: 40px;
}
#signatures li {
    font-family: "hindsemibold";
    font-size: 15px;
    line-height: 20px;
    list-style-type: circle;
    margin-left: 17px;
}
#signature li::before {
    content: "•";
    padding: 3pt;
    padding-right: 5pt;
    padding-left: 3pt;
    vertical-align: bottom;
}

/* PAGE  TOOLS */
/*.tool a {
    text-decoration: underline;
}*/
.no-max {
    max-height: none;
}
.tool-title {
    margin: 30px 0 10px 0;
    font-size: 28px;
    line-height: 33px;
}
.tool .number {
    font-size: 16pt;
    vertical-align: -0.07em;
    font-weight: initial;
}
.tool li {
    font-family: "hindmedium";
    font-size: 20px;
    line-height: 24px;
    list-style: none;
}
.tool-content ul{
    padding-left: 24px;
}
.tool h4 {
    margin-top: 18px;
}
.tool li::before {
    content: "— ";
}
.tool li a, .tool li a:hover {
    text-decoration: underline;
}

/* PAGE ABOUT/CONTACT */
.menu-contact {
    width: auto;
}
.triangle-bkg-contact {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    border-right: 150vh solid transparent;
    border-top: 100vh solid #ffff96;
    z-index: -1;
}
.credits {
    font-family: "hindsemibold";
    font-size: 15px;
    line-height: 20px;
}

.mobile {
  display: none;
}






/* RESPONSIVE */

/* ÉCRAN SEULEMENT */
@media screen {
    .print-only {
        display: none;
    }
}

/* ÉCRAN (VALEURS MAXIMUM) */
@media screen and (max-width: 800px) {
    .no-mobile {
        display: none;
    }
    .mobile {
      display: inherit;
    }
    h2 {
        font-size: 45px;
        line-height: 48px;
    }
    .menu {
        height: 50px;
    }
    .menu li {
        line-height: 20px;
        margin-right: 40px;
    }
    .whole {
          height: initial !important;
          padding-bottom: 0pt !important;
    }
    .whole-grid-container {
      max-height: fit-content;

    }
    .grid-small-container{
          margin-top: 0pt;
              height: initial !important;
    }
    .menu-contact {
        width: 100%;
    }
    .title {
        padding: 80px 20px 20px 20px;
    }
    .main-content {
        font-size: 40px;
        line-height: 44px;
    }
    .font-pulse {
        font-size: 32px;
    }
    .grid {
          /*margin-top: 70px;*/
    }
    .grid-item {
        width: 100%;
        height: 50vh;
        min-height: 300px;
        padding-bottom: 40px;
    }
    .
    .shapes-absolute {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 20px;
    }
    .circle {
        width: 13vw;
        height: 13vw;
        margin-right: 4px;
    }
    .circle.breathe {
        width: 40vw;
        height: 40vw;
        margin-right: 4px;
    }
    .square {
        width: 12vw;
        height: 12vw;
        margin-right: 4px;
    }
    #statement, #signatures {
        padding: 0px;
    }
    .content-left, .content-right-bottom {
        width: 100%;
        position: relative;
        margin: 0;
        padding: 80px 20px 20px 20px;
    }
    .triangle-bkg-contact {
        display: none;
    }
    .credits {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

}

/* IMPRESSION */

@media print {
    .screen-only {
        display: none;
    }
}

@page {
    size: 210mm 297mm;
    margin: none;
}
