/* réinitialisations de base, ne pas toucher */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

/* liens vers la typo */
@font-face {
    font-family: 'League Gothic';
    src: url('fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'cambaybold';
    src: url('fonts/cambay-bold-webfont.woff2') format('woff2'),
         url('fonts/cambay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cambaybold_italic';
    src: url('fonts/cambay-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/cambay-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cambayitalic';
    src: url('fonts/cambay-italic-webfont.woff2') format('woff2'),
         url('fonts/cambay-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cambayregular';
    src: url('fonts/cambay-regular-webfont.woff2') format('woff2'),
         url('fonts/cambay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'cambaybold';
}
a, a:visited, a:focus {
    text-decoration: none;
    color: black;
}
.menu {
    position: fixed;
    z-index: 1000;
    top: 10px;
    left: 15px;
    font-size: 15px;
    text-transform: uppercase;
}
.menu li {
    display: inline-block;
    margin-right: 20px;
}
.main-content {
    font-size: 90px;
    line-height: 85px;
}
.main-content a {
    text-decoration: none;
    color: black;
}
.category {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.text {
    font-family: "cambayregular";
    font-size: 20px;
    line-height: 23px;
}
.grid-item {
    height: 70vh;
    float: left;
    overflow: hidden;
    padding: 20px;
    position: relative;
}
.one-third {
    width: 33%;
}
.two-third {
    width: 67%;
}
.whole {
    width: 100%;
}
.red {
    background: linear-gradient(90deg, white 0%, #1fc8db 100%);
    /* background-color: #ffb1b1; */
}
.blue {
    background: linear-gradient(180deg, #ffff96 0%, #1fc8db 100%);
    /* background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
}
.yellow {
    background: linear-gradient(180deg, #ffff96 0%, #1fc8db 100%);
    /* background-color: #ffff96; */
}
.triangle {
    background-image: url(triangle-background.svg);
    background-size: 100% 100%;
}
.circle {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: inline-block;
    margin-right: 10px;
}
.big {
    width: 250px;
    height: 250px;
}

.shape2 {
    width: 120px;
    height: 120px;
    display: inline-block;
    border-left: 60px solid transparent; border-right: 60px solid transparent; border-bottom: 100px solid darkblue;
}

.content-left {
    width: 50%;
    margin: 80px 20px 20px 20px;
}
.title {
    font-size: 90px;
    line-height: 85px;
}
.content-right-bottom {
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 50%;
    margin: 80px 20px 20px 20px;
}


/* RESPONSIVE */

/* ÉCRAN SEULEMENT */
@media screen {
    .print-only {
        display: none;
    }
}

/* ÉCRAN (VALEURS MAXIMUM) */
@media screen and (max-width: 800px) {
    .grid-item {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

}

/* IMPRESSION */

@media print {
    .screen-only {
        display: none;
    }
}

@page {
    size: 210mm 297mm;
    margin: none;
}
