#main{
  padding: 20px;
  margin-top: 40px;
}

.menu {
      background-color: yellow;
}
#satements {
  width: 65%;
  position: relative;
  float: left;
}

#signature {
  width: 25%;
  float: left;
  padding: 20px;
  margin-top: 40px;
  margin-left: 10px;
}

.not-surprised {
  box-shadow: -4px 5px 0 1px #0000FF, 2px -3px 0 1px #0000FF;
      background-color: #FF6600;
      color: white;
}
.we {
  border-color: #3E3EFF;
  background-color: #EDEDED;
  box-shadow: 5px 5px 0px #3E3EFF;
  margin: 10px 0 10px 0;

}
.artist {
  background-color: orange;
  outline: 7px solid white;

}
.under-not-surprised {
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 100px solid red;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

body {
  background-color:  #e1cb95;
}
