/* réinitialisations de base, ne pas toucher */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

/* liens vers la typo */
@font-face {
    font-family: 'League Gothic';
    src: url('fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'cambaybold';
    src: url('fonts/cambay-bold-webfont.woff2') format('woff2'),
         url('fonts/cambay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cambaybold_italic';
    src: url('fonts/cambay-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/cambay-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cambayitalic';
    src: url('fonts/cambay-italic-webfont.woff2') format('woff2'),
         url('fonts/cambay-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cambayregular';
    src: url('fonts/cambay-regular-webfont.woff2') format('woff2'),
         url('fonts/cambay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ffff96;
}
.content-whole-page {
    width: 100%;
    margin: 80px 20px 20px 20px;
}
.tool {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 20px 20px 0 0;
    background-color: #9c9cea;
    padding: 20px;
    max-height: 40vh;
    overflow-y: auto;
    text-overflow: ellipsis;
}
.no-max {
    max-height: none;
}
.tool-title {
    margin-bottom: 10px;
}
.tool-link {
}
.tool-content {
}
.tool-document {
}



/* RESPONSIVE */

/* ÉCRAN SEULEMENT */
@media screen {
    .print-only {
        display: none;
    }
}

/* ÉCRAN (VALEURS MAXIMUM) */
@media screen and (max-width: 800px) {
    .grid-item {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

}

/* IMPRESSION */

@media print {
    .screen-only {
        display: none;
    }
}

@page {
    size: 210mm 297mm;
    margin: none;
}
